* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #050505;
  font-family: Arial, sans-serif;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background:
    radial-gradient(circle at 50% 20%, #39495a, #101820 70%);
}

/* HUD */

#hud {
  position: absolute;
  top: 12px;
  left: 10px;
  right: 10px;
  height: 55px;
  z-index: 50;
}

.fighter-name {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.enemy-name {
  left: auto;
  right: 0;
}

.health {
  position: absolute;
  left: 0;
  top: 20px;
  width: 40%;
  height: 18px;
  border: 2px solid white;
  background: #111;
}

.health div {
  width: 100%;
  height: 100%;
  background: #20d84a;
  transition: width 0.2s;
}

.enemy-health {
  left: auto;
  right: 0;
}

.enemy-health div {
  background: #e52c2c;
}

#timer {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  color: white;
  font-size: 25px;
  font-weight: bold;
}

/* ARENA */

#arena {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 175px;
  overflow: hidden;

  background:
    linear-gradient(
      180deg,
      #263646 0%,
      #131c25 60%,
      #080b0f 100%
    );
}

/* FLOOR */

#arena::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 28%;

  background:
    linear-gradient(
      rgba(255,255,255,0.06) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,255,255,0.06) 1px,
      transparent 1px
    ),
    #171c22;

  background-size: 40px 25px;
  border-top: 3px solid #68717a;
}

/* FIGHTER */

.fighter {
  position: absolute;
  width: 70px;
  height: 150px;
  bottom: 27%;
  z-index: 20;
}

/* HEAD */

.head {
  position: absolute;
  top: 0;
  left: 20px;

  width: 34px;
  height: 34px;

  border-radius: 50%;
  background: #d09570;
  border: 3px solid #171717;
}

/* BODY */

.body {
  position: absolute;
  top: 34px;
  left: 18px;

  width: 38px;
  height: 55px;

  border-radius: 10px;
  background: #1677b7;
  border: 3px solid #151515;
}

.enemy .body {
  background: #b52323;
}

/* ARMS */

.arm {
  position: absolute;
  top: 38px;

  width: 13px;
  height: 52px;

  border-radius: 10px;
  background: #d09570;
  border: 2px solid #171717;

  transform-origin: top center;
  transition: transform 0.12s;
}

.arm-left {
  left: 6px;
}

.arm-right {
  right: 6px;
}

/* LEGS */

.leg {
  position: absolute;
  top: 87px;

  width: 15px;
  height: 58px;

  border-radius: 9px;
  background: #20242a;
  border: 2px solid #111;

  transform-origin: top center;
  transition: transform 0.12s;
}

.leg-left {
  left: 19px;
}

.leg-right {
  right: 19px;
}

/* ANIMATIONS */

.fighter.walking .leg-left {
  animation: walkLeft 0.22s infinite alternate;
}

.fighter.walking .leg-right {
  animation: walkRight 0.22s infinite alternate;
}

.fighter.walking .arm-left {
  animation: armLeft 0.22s infinite alternate;
}

.fighter.walking .arm-right {
  animation: armRight 0.22s infinite alternate;
}

@keyframes walkLeft {
  from {
    transform: rotate(18deg);
  }

  to {
    transform: rotate(-18deg);
  }
}

@keyframes walkRight {
  from {
    transform: rotate(-18deg);
  }

  to {
    transform: rotate(18deg);
  }
}

@keyframes armLeft {
  from {
    transform: rotate(-12deg);
  }

  to {
    transform: rotate(12deg);
  }
}

@keyframes armRight {
  from {
    transform: rotate(12deg);
  }

  to {
    transform: rotate(-12deg);
  }
}

/* PUNCH */

.fighter.punching .arm-right {
  transform: rotate(-80deg) translateY(-5px);
}

/* KICK */

.fighter.kicking .leg-right {
  transform: rotate(65deg);
}

/* BLOCK */

.fighter.blocking .arm-left {
  transform: rotate(-65deg);
}

.fighter.blocking .arm-right {
  transform: rotate(65deg);
}

/* DASH */

.fighter.dashing {
  filter: blur(1px) drop-shadow(0 0 10px white);
}

/* MESSAGE */

#message {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;

  text-align: center;
  color: white;

  font-size: 30px;
  font-weight: bold;

  pointer-events: none;
  z-index: 100;
}

/* CONTROLS */

#controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 175px;
  z-index: 100;
}

/* JOYSTICK */
#joystick {
  position: fixed;
  left: 18px;
  bottom: 120px;

  width: 105px;
  height: 105px;

  border: 3px solid #7d8791;
  border-radius: 50%;

  background: rgba(20, 25, 30, 0.85);

  box-shadow:
    0 0 15px rgba(0, 0, 0, 0.8),
    inset 0 0 15px rgba(255, 255, 255, 0.08);

  z-index: 120;
}



/* BUTTONS */
#buttons {
  position: fixed;
  right: 18px;
  bottom: 120px;

  width: 220px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;

  z-index: 120;
}
  
/* SMALL PHONES */

@media (max-width: 500px) {

  #buttons {
    right: 10px;
    top: 30px;
    gap: 9px;
  }

  #buttons button {
    width: 55px;
    height: 55px;
  }

  #joystick {
    left: 14px;
    bottom: 30px;
  }
  }
